{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}
<header>
    {{ userEmail }}
</header>
<section>
    <h1>Actualités</h1>
    {% for newsletter in newsletters %}
    <div>
        <h2>Le {{ newsletter.newCreatedAt|date('Y-m-d') }}</h2>
        <p>{{ newsletter.newContentFr|length > 25 ? newsletter.newContentFr|slice(0,25) ~ '...' : newsletter.newContentFr }}</p>
        <a href="/actualite/{{ newsletter.id }}">Voir</a>
    </div>
    {% endfor %}

    <div>
        {% if pages == 1 %}
            <a href="/actualites/1"><strong>1</strong></a>
        {% else %}
            {% if page == 1 %}
                Début 
                | Précédente 
                | 
                {% for i in 1..pages %}
                    {% if i == page %}
                        <strong><a href="/actualites/{{ i }}">{{ i }}</a></strong>
                    {% else %}
                        <a href="/actualites/{{ i }}">{{ i }}</a>
                    {% endif %}
                {% endfor %} 
                | <a href="/actualites/{{ page + 1 }}">Suivante</a> | <a href="/actualites/{{ pages }}">Fin</a>

            {% elseif page == pages %}
                <a href="/actualites/1">Début</a> 
                | <a href="/actualites/{{ page-1 }}">Précédente</a> 
                | 
                {% for i in 1..pages %}
                    {% if i == page %}
                        <strong><a href="/actualites/{{ i }}">{{ i }}</a></strong>
                    {% else %}
                        <a href="/actualites/{{ i }}">{{ i }}</a>
                    {% endif %}
                {% endfor %} 
                | Suivante 
                | Fin
            
            {% else %}
                <a href="/actualites/1">Début</a> 
                | <a href="/actualites/{{ page-1 }}">Précédente</a> 
                | 
                {% for i in 1..pages %}
                    {% if i == page %}
                        <strong><a href="/actualites/{{ i }}">{{ i }}</a></strong>
                    {% else %}
                        <a href="/actualites/{{ i }}">{{ i }}</a>
                    {% endif %}
                {% endfor %} 
                | <a href="/actualites/{{ page + 1 }}">Suivante</a> 
                | <a href="/actualites/{{ pages }}">Fin</a>
            {% endif %}
            
        {% endif %}
    </div>

</section>
{% endblock %}
