{% extends 'base.html.twig' %}

{% block title %}{% trans %}Actualités{% endtrans %}{% endblock %}

{% block body %}
<section>
    <h1>{% trans %}Actualités{% endtrans %}</h1>
    {% for newsletter in newsletters %}
    <article>
        <h2>{% trans %}Publié le{% endtrans %} {{ newsletter.newCreatedAt|date('Y-m-d') }}</h2>
        <p>{{ attribute(newsletter, 'newContent'~app.request.locale|capitalize)|length > 25 ? attribute(newsletter, 'newContent'~app.request.locale|capitalize)|slice(0,25) ~ '...' : attribute(newsletter, 'newContent'~app.request.locale|capitalize) }}</p>
        <a href="/{{ app.request.locale }}/actualite/{{ newsletter.id }}">{% trans %}Voir{% endtrans %}</a>
    </article>
    {% endfor %}
</section>
<div>
    {% set url = '/'~app.request.locale~'/actualites/' %}
    {{url}}
    {% set page = page %}
    {% set pages = pages %}
    {% set nearby = 4 %}

    {% apply spaceless %}
        {% if pages > 1 %}
            {% if page > 1 %}
                <a href="{{ (url ~ (page-1))|e }}/">&laquo;</a>
            {% endif %}

            {% for i in 1..pages %}
                {% if 0 == (page - nearby) - loop.index %}
                    <a href="{{ (url ~ 1)|e }}/">1</a>
                    {% if 1 != loop.index %}
                        <a href="#">...</a>
                    {% endif %}
                {% elseif 0 == (page + nearby) - loop.index  and (page + nearby) < pages %}
                    <a href="#">...</a>
                {% elseif 0 < (page - nearby) - loop.index %}
                    <!-- #1 -->
                {% elseif 0 > (page + nearby) - loop.index %}
                    <!-- #2 -->
                {% else %}
                        {% if page == loop.index  %}
                            <strong><a href="#">{{ loop.index }}</a></strong>
                        {% else %}
                            {% if loop.index == 1 %}
                                <a href="{{ (url ~ 1)|e }}">{{ loop.index }}</a>
                            {% else %}
                                <a href="{{ url ~ loop.index }}/">{{ loop.index }}</a>
                            {% endif %}
                        {% endif %}
                {% endif %}
            {% endfor %}
            {% if page != pages  and (page + nearby) < pages %}
                <a href="{{ (url ~ pages)|e }}/">{{ pages }}</a>
            {% endif %}
            {% if page < pages %}
                <a href="{{ (url ~ (page+1))|e }}/">&raquo;</a>
            {% endif %}
        {% endif %}
    {% endapply %}
</div>
{% endblock %}
