{% extends 'base.html.twig' %}

{% block title %}{% trans %}Actualités{% endtrans %}{% endblock %}

{% block body %}
<section>
    <h1>{% trans %}Actualités{% endtrans %}</h1>

    {% for newsletter in newsletters %}
    <article>

        <img src="{{ asset(newsletter.thumb) | imagine_filter('my_thumb') }}" alt="{% trans %}Image introductive relative à la nouvelle.{% endtrans %}">
        
        <h2>{% trans %}Publié le{% endtrans %} {{ newsletter.createdAt|date('Y-m-d') }}</h2>
        <p>
            {{ newsletter.content|length > 25 ? newsletter.content|slice(0,25) ~ '...' : newsletter.content }}
        </p>

        <a href="/{{ app.request.locale }}/actualite/{{ newsletter.id }}">{% trans %}Voir{% endtrans %}</a>
    
    </article>
    {% endfor %}

</section>
<div>
    {% set url = '/'~app.request.locale~'/actualites/' %}
    {% set page = page %}
    {% set pages = pages %}
    {% set nearby = 4 %}

    {% apply spaceless %}
        {% if pages > 1 %}
            {% if page > 1 %}
                <a href="{{ (url ~ (page-1))|e }}/">&laquo;</a>
            {% endif %}

            {% for i in 1..pages %}
                {% if 0 == (page - nearby) - loop.index %}
                    <a href="{{ (url ~ 1)|e }}/">1</a>
                    {% if 1 != loop.index %}
                        <a href="#">...</a>
                    {% endif %}
                {% elseif 0 == (page + nearby) - loop.index  and (page + nearby) < pages %}
                    <a href="#">...</a>
                {% elseif 0 < (page - nearby) - loop.index %}
                    <!-- #1 -->
                {% elseif 0 > (page + nearby) - loop.index %}
                    <!-- #2 -->
                {% else %}
                        {% if page == loop.index  %}
                            <strong><a href="#">{{ loop.index }}</a></strong>
                        {% else %}
                            {% if loop.index == 1 %}
                                <a href="{{ (url ~ 1)|e }}">{{ loop.index }}</a>
                            {% else %}
                                <a href="{{ url ~ loop.index }}/">{{ loop.index }}</a>
                            {% endif %}
                        {% endif %}
                {% endif %}
            {% endfor %}
            {% if page != pages  and (page + nearby) < pages %}
                <a href="{{ (url ~ pages)|e }}/">{{ pages }}</a>
            {% endif %}
            {% if page < pages %}
                <a href="{{ (url ~ (page+1))|e }}/">&raquo;</a>
            {% endif %}
        {% endif %}
    {% endapply %}
</div>
{% endblock %}
