{% extends 'base.html.twig' %}

{% block title %}{% trans %}Actualité{% endtrans %}{% endblock %}

{% block body %}
<section>
    <h1>{% trans %}Actualité{% endtrans %}</h1>
    <div>
        <h2>{% trans %}Publié le{% endtrans %} {{ newsletter.newCreatedAt|date('Y-m-d') }}</h2>
        <p>
            {% if attribute(newsletter, 'newContent'~app.request.locale|capitalize) is not empty %}
                {{ attribute(newsletter, 'newContent'~app.request.locale|capitalize)|raw }}
            {% else %}
                {{ newsletter.newContentFr|raw }}
            {% endif %}
        </p>
    </div>
</section>

{% if is_granted('ROLE_AGENT') or is_granted('ROLE_MAYOR') or is_granted('ROLE_ADMIN') %}
    <button class="btn btn-primary"><a href="/{{ app.request.locale }}/actualite/{{ newsletter.id }}/agent/editer" class="text-light text-decoration-none">{% trans %}Editer{% endtrans %}</a></button>
    {{ include('newsletter/_delete_form.html.twig') }}
{% endif %}

{% endblock %}
