{% extends 'base.html.twig' %}

{% block title %}{% trans %}Accueil{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}
{# {% verbatim %} #}
	<div id="app"
		data-newsletters="{{ jsonnewsletters }}"
		{# data-newsletters-title="{{ newslettersTitle }}" #}
	></div>
{# {% endverbatim %} #}

<div class="container-fluid py-5" style="background-color: #F1F3F8;">
	<section class="container">
		<div class="my-5">
			<h1 class="text-center text-dark title-section">{% trans %}Dernières activités{% endtrans %}</h1>
		</div>
		<div class="row row-cols-1 row-cols-xs-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-4">
			{% for card in datas.activitiesCards %}
				{{ include('components/v_card_from_to.html.twig') }}
			{% endfor %}
		</div>
	</section>
</div>
{% endblock %}
