{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.confirmPassword) }}
    {{ form_errors(form) }}
    <button type="submit" class="btn btn-primary">{{ button_label|trans }}</button>
{{ form_end(form) }}