{% extends 'base.html.twig' %}

{% block title %}{% trans %}Inscription{% endtrans %}{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>{% trans %}Inscription{% endtrans %}</h1>

    {{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.confirmPassword) }}
        {{ form_row(registrationForm.rgpd) }}
        {{ form_row(registrationForm.user_terms_of_use) }}
        {{ form_row(registrationForm.newsletter) }}
        {{ form_row(registrationForm.event) }}
        {{ form_row(registrationForm.survey) }}
        {{ form_row(registrationForm.vote) }}
        {{ form_errors(registrationForm) }}
        <button type="submit" class="btn btn-primary">{% trans %}Register{% endtrans %}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
