{% extends 'base.html.twig' %}

{% block title %}{% trans %}Mon compte{% endtrans %}{% endblock %}

{% block body %}
<section>
    <h1>{% trans %}Actualité{% endtrans %}</h1>
    <div>
        <p>
            Email : {{ user.email }}<br>
            Etat(s) : {% for role in user.roles %}{{ role }} {% endfor %}<br>
            Nom : {{ user.firstName }}<br>
            Prénom : {{ user.lastName }}<br>
            Recevoir les actualités par email : {{ user.newsletter == true ? 'oui'|trans : 'non'|trans }}<br>
            Recevoir un email quand publication d'un nouveau vote : {{ user.vote == true ? 'oui'|trans : 'non'|trans }}<br>
            Recevoir un email quand publication d'un nouvel évènement : {{ user.event == true ? 'oui'|trans : 'non'|trans }}<br>
            Recevoir un email quand publication d'une nouvelle enquête : {{ user.survey == true ? 'oui'|trans : 'non'|trans }}<br>
        </p>
    </div>
</section>

<a href="/{{ app.request.locale }}/membre/compte/preferences" class="text-light text-decoration-none"><button class="btn btn-primary">{% trans %}Modifier les préférences{% endtrans %}</button></a>
<a href="/{{ app.request.locale }}/membre/compte/email" class="text-light text-decoration-none"><button class="btn btn-primary">{% trans %}Modifier l'email{% endtrans %}</button></a>
<a href="/{{ app.request.locale }}/membre/compte/mot_de_passe" class="text-light text-decoration-none"><button class="btn btn-primary">{% trans %}Modifier le mot de passe{% endtrans %}</button></a>
{% if not is_granted('ROLE_MAYOR') %}
    <a href="/{{ app.request.locale }}/membre/compte/supprimer" class="text-light text-decoration-none"><button class="btn btn-primary">{% trans %}Supprimer le compte{% endtrans %}</button></a>
    {# {{ include('newsletter/_delete_form.html.twig') }} #}
{% endif %}

{% endblock %}
