{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.cat_name_fr) }}
    {{ form_row(form.cat_name_en) }}
    {{ form_row(form.cat_description_fr) }}
    {{ form_row(form.cat_description_en) }}
    {{ form_row(form.cat_order_of_appearance) }}
    {{ form_errors(form) }}
    <button type="submit" class="btn btn-primary">{{ button_label|trans }}</button>
{{ form_end(form) }}