{% extends 'base.html.twig' %}

{% block title %}Enquête{% endblock %}

{% block body %}
<section>
    <h1>{% trans %}Enquête{% endtrans %}</h1>
    <div>
        <p>{% trans %}Du{% endtrans %} {{ survey.begining|date('Y-m-d') }} {% trans %}au{% endtrans %} {{ survey.end|date('Y-m-d') }}</p>
        <p>
            {{ survey.content|raw }}
        </p>
    </div>
    <div>

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_label(form.opi_opinion) }}
            {{ form_errors(form.opi_opinion) }}
            {{ form_widget(form.opi_opinion) }}
            {{ form_errors(form) }}
            <input type="hidden" name="token" value="{{ csrf_token('opinion-item' ~ survey.id) }}"/>
            <button type="submit" class="btn btn-primary">{% trans %}Donner son opinion{% endtrans %}</button>
        {{ form_end(form) }}
    </div>
</section>

{% if is_granted('ROLE_AGENT') or is_granted('ROLE_MAYOR') or is_granted('ROLE_ADMIN') %}
    <a href="/{{ app.request.locale }}/enquete/{{ survey.id }}/agent/editer" class="text-light text-decoration-none"><button class="btn btn-primary">{% trans %}Editer{% endtrans %}</button></a>
    {{ include('surveys/_delete_form.html.twig') }}
{% endif %}

    
{% endblock %}
