<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        {% block nav %}
            <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light p-3 shadow">
                <div class="container-fluid g-0">
                                        
                    <a href="/{{ app.request.locale }}/" class="navbar-brand mb-0 h1">Auchonvillers</a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navDropdown" aria-controls="navDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navDropdown">
                        <ul class="navbar-nav me-auto">

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navCategoryDrop" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                                    Plus sur
                                </a>
                                <ul class="dropdown-menu mt-lg-3 mt-xl-3 mt-xxl-3" aria-labelledby="navCategoryDrop">
                                    {% for navcat in navcats.list %}
                                        {% if attribute(navcat, 'catName'~app.request.locale) is not empty %}
                                            <li class="dropdown-item"><a class="nav-link" href="/{{ app.request.locale }}/theme/{{ navcat.id }}">{{ attribute(navcat, 'catName'~app.request.locale|capitalize) }}</a></li>
                                        {% else %}
                                            <li class="dropdown-item"><a class="nav-link" href="/{{ app.request.locale }}/theme/{{ navcat.id }}">{{ navcat.catNameFr|capitalize }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>

                            <li class"nav-item"><a class="nav-link" href="/{{ app.request.locale }}/actualites/1">{% trans %}Actualités{% endtrans %}</a></li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navActivityDrop" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Activités
                                </a>
                                <ul class="dropdown-menu mt-lg-3 mt-xl-3 mt-xxl-3" aria-labelledby="navActivityDrop">
                                    <li class="dropdown-item"><a class="nav-link" href="/{{ app.request.locale }}/evenements/1">{% trans %}Evènements{% endtrans %}</a></li>
                                    <li class="dropdown-item"><a class="nav-link" href="/{{ app.request.locale }}/votes/1">{% trans %}Votes{% endtrans %}</a></li>
                                    <li class="dropdown-item"><a class="nav-link" href="/{{ app.request.locale }}/enquetes/1">{% trans %}Enquêtes{% endtrans %}</a></li>
                                </ul>
                            </li>

                            {% if is_granted('ROLE_AGENT') or is_granted('ROLE_MAYOR') or is_granted('ROLE_ADMIN') %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navGestionDrop" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                                    Gestion
                                </a>
                                <ul class="dropdown-menu mt-lg-3 mt-xl-3 mt-xxl-3" aria-labelledby="navGestionDrop">
                                    <li class"dropdown-item"><a class="nav-link" href="/{{ app.request.locale }}/theme/agent/creer">{# <i class="bi-plus-circle-fill me-1" style="font-size: 1rem;"> #}</i>{% trans %}Créer un thème{% endtrans %}</a></li>
                                    <li class"dropdown-item"><a class="nav-link" href="/{{ app.request.locale }}/article/agent/creer">{# <i class="bi-plus-circle-fill me-1" style="font-size: 1rem;"> #}</i>{% trans %}Créer un article{% endtrans %}</a></li>
                                    <li class"dropdown-item"><a class="nav-link" href="/{{ app.request.locale }}/actualite/agent/creer">{# <i class="bi-plus-circle-fill me-1" style="font-size: 1rem;"> #}</i>{% trans %}Créer une actualité{% endtrans %}</a></li>
                                    <li class"dropdown-item"><a class="nav-link" href="/{{ app.request.locale }}/evenement/agent/creer">{# <i class="bi-plus-circle-fill me-1" style="font-size: 1rem;"> #}</i>{% trans %}Créer un évènement{% endtrans %}</a></li>
                                    <li class"dropdown-item"><a class="nav-link" href="/{{ app.request.locale }}/enquete/agent/creer">{# <i class="bi-plus-circle-fill me-1" style="font-size: 1rem;"> #}</i>{% trans %}Créer une enquête{% endtrans %}</a></li>
                                    <li class"dropdown-item"><a class="nav-link" href="/{{ app.request.locale }}/vote/agent/creer">{# <i class="bi-plus-circle-fill me-1" style="font-size: 1rem;"> #}</i>{% trans %}Créer un vote{% endtrans %}</a></li>
                                    <li class"dropdown-item"><a class="nav-link" href="#">{% trans %}Voir les discussions{% endtrans %}</a></li>
                                    <li class"dropdown-item"><a class="nav-link" href="#">{% trans %}Voir les inscrits{% endtrans %}</a></li>
                                </ul>
                            </li>
                            {% endif %}

                        </ul>

                        <ul class="navbar-nav">

                            {# Si l'utilisateur est connecté on affiche son email et le lien vers deconnexion sinon le lien vers connexion #}
                            {% if is_granted('ROLE_USER') or is_granted('ROLE_AGENT') or is_granted('ROLE_MAYOR') or is_granted('ROLE_ADMIN') %}
                                <li class="nav-item dropdown d-flex">
                                    <a class="nav-link dropdown-toggle" id="navAccountDrop" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        {{ app.user.email }}
                                    </a>
                                    <ul class="dropdown-menu mt-lg-3 mt-xl-3 mt-xxl-3" aria-labelledby="navAccountDrop">
                                        <li class="dropdown-item"><a class="nav-link" href="/{{ app.request.locale }}/compte/{{ app.user.id }}">{% trans %}Mon compte{% endtrans %}</a></li>
                                        <li class="dropdown-item"><a class="nav-link" href="/{{ app.request.locale }}/deconnexion">{% trans %}Deconnexion{% endtrans %}</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li class"nav-item d-flex"><a class="nav-link" href="/{{ app.request.locale }}/connexion">{% trans %}Connexion{% endtrans %}</a></li>
                            {% endif %}

                            {# Liste dans la variable globale - définie dans services.yaml et envoyée dans la vue par twig.yaml - celles qui ne sont pas la langue active #}
                             <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navLangDrop" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ app.request.locale }}
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end mt-lg-3 mt-xl-3 mt-xxl-3" aria-labelledby="navLangDrop">
                                    {% for locale in locales|filter(locale => locale != app.request.locale) -%}
                                        <li class="dropdown-item"><a class="nav-link" href="/langue/{{ locale }}">{{ locale }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}

        {% block jumbo %}
            <div class="p-5 mb-4 bg-light">
                <div class="container-fluid py-5 text-end">
                    <h1 class="display-5 fw-bold">Auchonvillers</h1>
                    <p class="fs-4 text-end">
                        <span class="text-end">
                            Bienvenue Sur le site de la commune
                        </span>
                    </p>
                    <button class="btn btn-primary btn-lg" type="button">Example button</button>
                </div>
            </div>
        {% endblock %}

        {% block flashMessages %}
            {% for message in app.flashes('success') %}
                <div class="container">
                    <div class="alert alert-success text-center fs-5 alert-dismissible fade show" role="alert">
                        <i class="bi-check-circle-fill" style="font-size: 1.25rem;" aria-label="{% trans %}Succès{% endtrans %}"></i>
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{% trans %}Faire disparaitre le message{% endtrans %}"></button>
                    </div>
                </div>
            {% endfor %}

            {% for message in app.flashes('notice') %}
                <div class="container">
                    <div class="alert alert-primary text-center fs-5 alert-dismissible fade show" role="alert">
                        <i class="bi-info-circle-fill" style="font-size: 1.25rem;" aria-label="{% trans %}Information{% endtrans %}"></i>
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{% trans %}Faire disparaitre le message{% endtrans %}"></button>
                    </div>
                </div>
            {% endfor %}

            {% for message in app.flashes('warning') %}
                <div class="container">
                    <div class="alert alert-warning text-center fs-5 alert-dismissible fade show" role="alert">
                        <i class="bi-exclamation-triangle-fill" style="font-size: 1.25rem;" aria-label="{% trans %}Succès{% endtrans %}"></i>
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{% trans %}Faire disparaitre le message{% endtrans %}"></button>
                    </div>
                </div>
            {% endfor %}

            {% for message in app.flashes('danger') %}
                <div class="container">
                    <div class="alert alert-danger text-center fs-5 alert-dismissible fade show" role="alert">
                        <i class="bi-exclamation-octagon-fill" style="font-size: 1.25rem;" aria-label="{% trans %}Succès{% endtrans %}"></i>
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{% trans %}Faire disparaitre le message{% endtrans %}"></button>
                    </div>
                </div>
            {% endfor %}
        {% endblock %}
        
        {% block body %}{% endblock %}

        {% block footer %}
            <div class="p-5 mt-5 bg-dark text-muted">
                <div class="container-fluid py-5">
                    <div class="row">
                        <div class="col">
                            <ul class="list-unstyled">
                                <a class="text-muted h5" href="#"><li>Lien vers quelque chose</li></a>
                                <a class="text-muted h5" href="#"><li>Lien vers quelque chose 2</li></a>
                                <a class="text-muted h5" href="#"><li>Lien vers quelque chose 3</li></a>                            
                            </ul>
                        </div>
                        <div class="col">
                            <ul class="list-unstyled">
                                <a class="text-muted h5" href="#"><li>Lien vers quelque chose</li></a>
                                <a class="text-muted h5" href="#"><li>Lien vers quelque chose 2</li></a>
                                <a class="text-muted h5" href="#"><li>Lien vers quelque chose 3</li></a>                            
                            </ul>
                        </div>
                        <div class="col">
                            <ul class="list-unstyled">
                                <a class="text-muted h5" href="#"><li>Lien vers quelque chose</li></a>
                                <a class="text-muted h5" href="#"><li>Lien vers quelque chose 2</li></a>
                                <a class="text-muted h5" href="#"><li>Lien vers quelque chose 3</li></a>                            
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </body>
</html>
