<div class="v-card col mb-4 d-flex">
    <article class="col card bg-white text-dark shadow border-0 align-self-stretch">
        <img class="card-img p-0" src="{{ card.image }}" alt="{% trans %}Image introductive.{% endtrans %}">

        <div class="card-img-overlay p-4 d-flex flex-column flex-grow hidden-background">
            <div class="mb-auto mt-auto text-center">
                <a class="hidden-button btn btn-lg btn-outline-dark px-5 fs-2 fw-bolder" href="/{{ app.request.locale }}/{{ card.url }}/{{ card.id }}">{% trans %}Voir{% endtrans %}</a>
            </div>
        </div>

        <div class="card-body">
            <h5 class="card-title fs-5">{% trans %}Du{% endtrans %} {{ card.begining|date('d-m-Y H\\hi') }}<br>{% trans %}au{% endtrans %} {{ card.end|date('d-m-Y H\\hi') }}</h5>
            <p class="card-text fs-5">{{ card.content}}</p>
        </div>
    </article>
</div>