{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.art_title_fr) }}
    {{ form_row(form.art_title_en) }}
    {{ form_row(form.art_content_fr) }}
    {{ form_row(form.art_content_en) }}
    {{ form_row(form.art_order_of_appearance) }}
    {{ form_row(form.category) }}
    {{ form_errors(form) }}
    <button type="submit" class="btn btn-primary">{{ button_label|trans }}</button>
{{ form_end(form) }}