{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs: {{ datas.title}}{% endblock %}

{% block body %}
<section class="container-fluid">
	<div class="mb-5">
		<h1 class="text-center text-dark title-section">Liste des utilisateurs: {{ datas.title }}</h1>
	</div>
</section>

<div class="container-fluid bg-white py-5">
    {{ form_start(datas.form, {'attr': {'novalidate': 'novalidate', 'class': 'mb-5'}}) }}
        <div class="row d-flex justify-content-center">
            <div class="col-auto p-1">{{ form_label(datas.form.type) }}</div>
            <div class="col-auto">{{ form_widget(datas.form.type) }}</div>
            <div class="col-auto"><button type="submit" class="btn btn-primary">Ok</button></div>
        </div>
        <input type="hidden" name="token" value="{{ csrf_token('user-item' ~ app.user.id) }}"/>
        {{ form_errors(datas.form) }}
    {{ form_end(datas.form) }}

    <div class="table-responsive bg-white">
        <table class="table align-middle">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">{% trans %}Statut(s){% endtrans %}</th>
                <th scope="col">{% trans %}Nom{% endtrans %}</th>
                <th scope="col">{% trans %}Prénom{% endtrans %}</th>
                <th scope="col">{% trans %}Compte vérifié{% endtrans %}</th>
                <th scope="col">{% trans %}Conditions utilisateurs{% endtrans %}</th>
                <th scope="col">{% trans %}Conditions employés{% endtrans %}</th>
                <th scope="col">{% trans %}Créé le{% endtrans %}</th>
                <th scope="col">{% trans %}Dernière modification{% endtrans %}</th>
                <th scope="col">{% trans %}Actions possibles{% endtrans %}</th>
            </thead>
            <tbody>
                {% for user in datas.users %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ user.email }}</td>
                        <td>{{ user.roles }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.isVerified }}</td>
                        <td>{{ user.user_terms_of_use }}</td>
                        <td>{{ user.employee_terms_of_use }}</td>
                        <td>{{ user.created_at|date('Y-m-d') }}</td>
                        <td>{{ user.last_modification|date('Y-m-d') }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="/{{ app.request.locale }}/agent/inscrit/{{ user.id }}/promouvoir" onclick="return confirm('{% trans %}Etes-vous sure de vouloir promouvoir cette personne ?{% endtrans %}');"><button class="btn btn-outline-success"><i class="bi-chevron-double-up" style="font-size: 1.25rem;" aria-label="{% trans %}Succès{% endtrans %}"></i></button></a>
                                <a href="/{{ app.request.locale }}/agent/inscrit/{{ user.id }}/destituer" onclick="return confirm('{% trans %}Etes-vous sure de vouloir destituer cette personne ?{% endtrans %}');"><button class="btn btn-outline-warning"><i class="bi-chevron-double-down" style="font-size: 1.25rem;" aria-label="{% trans %}Succès{% endtrans %}"></i></button></a>
                                <a href="/{{ app.request.locale }}/agent/inscrit/{{ user.id }}/supprimer" onclick="return confirm('{% trans %}Etes-vous sure de vouloir supprimer ce compte ?{% endtrans %}');"><button class="btn btn-outline-danger"><i class="bi-x-lg" style="font-size: 1.25rem;" aria-label="{% trans %}Succès{% endtrans %}"></i></button></a>
                                <a href="/{{ app.request.locale }}/agent/inscrit/{{ user.id }}/elire" onclick="return confirm('{% trans %}Etes-vous sure de vouloir élire cette personne ?{% endtrans %}');"><button class="btn btn-outline-primary"><i class="bi-person-check-fill" style="font-size: 1.25rem;" aria-label="{% trans %}Succès{% endtrans %}"></i></button></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{{ include('components/pagination.html.twig') }}
{% endblock %}
