{% extends 'base.html.twig' %}

{% block title %}{{ title|trans }}{% endblock %}

{% block body %}
<section>
    <h1>{{ title|trans }}</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'my-5'}}) }}
        <div class="row d-flex justify-content-center">
            <div class="col-auto p-1">{{ form_label(form.type) }}</div>
            <div class="col-auto">{{ form_widget(form.type) }}</div>
            <div class="col-auto"><button type="submit" class="btn btn-primary">Ok</button></div>
        </div>
        <input type="hidden" name="token" value="{{ csrf_token('user-item' ~ app.user.id) }}"/>
        {{ form_errors(form) }}
    {{ form_end(form) }}

    <div class="table-responsive">
        <table class="table align-middle">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">{% trans %}Statut(s){% endtrans %}</th>
                <th scope="col">{% trans %}Nom{% endtrans %}</th>
                <th scope="col">{% trans %}Prénom{% endtrans %}</th>
                <th scope="col">{% trans %}Compte vérifié{% endtrans %}</th>
                <th scope="col">{% trans %}Conditions utilisateurs{% endtrans %}</th>
                <th scope="col">{% trans %}Conditions employés{% endtrans %}</th>
                <th scope="col">{% trans %}Créé le{% endtrans %}</th>
                <th scope="col">{% trans %}Dernière modification{% endtrans %}</th>
                <th scope="col">{% trans %}Actions possibles{% endtrans %}</th>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ user.email }}</td>
                        <td>
                        {% for role in user.roles %}
                            {{role}}
                        {% endfor %}
                        </td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.isVerified }}</td>
                        <td>{{ user.user_terms_of_use }}</td>
                        <td>{{ user.employee_terms_of_use }}</td>
                        <td>{{ user.created_at|date('Y-m-d') }}</td>
                        <td>{{ user.last_modification|date('Y-m-d') }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="/{{ app.request.locale }}/agent/inscrit/{{ user.id }}/promouvoir"><button class="btn btn-outline-success"><i class="bi-chevron-double-up" style="font-size: 1.25rem;" aria-label="{% trans %}Succès{% endtrans %}"></i></button></a>
                                <a href="/{{ app.request.locale }}/agent/inscrit/{{ user.id }}/destituer"><button class="btn btn-outline-warning"><i class="bi-chevron-double-down" style="font-size: 1.25rem;" aria-label="{% trans %}Succès{% endtrans %}"></i></button></a>
                                <a href="/{{ app.request.locale }}/agent/inscrit/{{ user.id }}/supprimer"><button class="btn btn-outline-danger"><i class="bi-x-lg" style="font-size: 1.25rem;" aria-label="{% trans %}Succès{% endtrans %}"></i></button></a>
                                <a href="/{{ app.request.locale }}/agent/inscrit/{{ user.id }}/supprimer"><button class="btn btn-outline-primary"><i class="bi-person-check-fill" style="font-size: 1.25rem;" aria-label="{% trans %}Succès{% endtrans %}"></i></button></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
<div>
    {% set url = '/'~app.request.locale~'/agent/inscrits/utilisateurs/' %}
    {% set page = page %}
    {% set pages = pages %}
    {% set nearby = 4 %}

    {% apply spaceless %}
        {% if pages > 1 %}
            {% if page > 1 %}
                <a href="{{ (url ~ (page-1))|e }}/">&laquo;</a>
            {% endif %}

            {% for i in 1..pages %}
                {% if 0 == (page - nearby) - loop.index %}
                    <a href="{{ (url ~ 1)|e }}/">1</a>
                    {% if 1 != loop.index %}
                        <a href="#">...</a>
                    {% endif %}
                {% elseif 0 == (page + nearby) - loop.index  and (page + nearby) < pages %}
                    <a href="#">...</a>
                {% elseif 0 < (page - nearby) - loop.index %}
                    <!-- #1 -->
                {% elseif 0 > (page + nearby) - loop.index %}
                    <!-- #2 -->
                {% else %}
                        {% if page == loop.index  %}
                            <strong><a href="#">{{ loop.index }}</a></strong>
                        {% else %}
                            {% if loop.index == 1 %}
                                <a href="{{ (url ~ 1)|e }}">{{ loop.index }}</a>
                            {% else %}
                                <a href="{{ url ~ loop.index }}/">{{ loop.index }}</a>
                            {% endif %}
                        {% endif %}
                {% endif %}
            {% endfor %}
            {% if page != pages  and (page + nearby) < pages %}
                <a href="{{ (url ~ pages)|e }}/">{{ pages }}</a>
            {% endif %}
            {% if page < pages %}
                <a href="{{ (url ~ (page+1))|e }}/">&raquo;</a>
            {% endif %}
        {% endif %}
    {% endapply %}
</div>
{% endblock %}
