{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.eve_begining) }}
    {{ form_row(form.eve_end) }}
    {{ form_row(form.eve_content_fr) }}
    {{ form_row(form.eve_content_en) }}
    {{ form_row(form.eve_location_osm) }}  
    {{ form_errors(form) }}
    <button type="submit" class="btn btn-primary">{{ button_label|trans }}</button>
{{ form_end(form) }}