{% extends 'base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
<section>
    <h1>{% trans %}Evenement{% endtrans %}</h1>
    <div>
        <p>{% trans %}Du{% endtrans %} {{ event.EveBegining|date('Y-m-d') }} {% trans %}au{% endtrans %} {{ event.EveEnd|date('Y-m-d') }}</p>
        <p>
            {% if attribute(event, 'EveContent'~app.request.locale|capitalize) is not empty %}
                {{ attribute(event, 'EveContent'~app.request.locale|capitalize)|raw }}
            {% else %}
                {{ event.contentFr|raw }}
            {% endif %}
        </p>
    </div>
</section>

{% if is_granted('ROLE_AGENT') or is_granted('ROLE_MAYOR') or is_granted('ROLE_ADMIN') %}
    {{ include('events/_delete_form.html.twig') }}
{% endif %}

    
{% endblock %}
