{% extends 'base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
<section>
    <h1>{% trans %}Evenement{% endtrans %}</h1>
    <div>
        <p>{% trans %}Du{% endtrans %} {{ event.begining|date('Y-m-d') }} {% trans %}au{% endtrans %} {{ event.end|date('Y-m-d') }}</p>
        <p>
            {{ event.content|raw }}
        </p>
    </div>
    <div>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_row(form.save) }}
            {{ form_errors(form) }}
            <input type="hidden" name="token" value="{{ csrf_token('participate-item' ~ event.id) }}"/>
        {{ form_end(form) }}
    </div>
    participations : {{ participations }}
</section>

{% if is_granted('ROLE_AGENT') or is_granted('ROLE_MAYOR') or is_granted('ROLE_ADMIN') %}
    <a href="/{{ app.request.locale }}/evenement/{{ event.id }}/agent/editer" class="text-light text-decoration-none"><button class="btn btn-primary">{% trans %}Editer{% endtrans %}</button></a>
    {{ include('events/_delete_form.html.twig') }}
{% endif %}

    
{% endblock %}
